<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dialer.integration.connection">

    <application android:debuggable="true">
        <service
            android:name=".MockDialerConnectionService"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".DialerIntegrationConnectionReceiver"
            android:permission="android.permission.DUMP"
            android:exported="true" />
    </application>
</manifest>
